@import url(./reset.css);

body{
    background-color: black;
}

p{
    color: white;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

h2{
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid #33A8DB80;

}




button{
    display: flex;
    width: 326px;
    padding: 19px 91px;
    justify-content: center;
    align-items: center;
    gap: 31px;
    border-color: #31A8DD;
    border: 1px;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.36px;
}